{% extends 'base.html.twig' %}

{% block title %}Se créer un compte{% endblock %}

{% block body %}
    <h1>Se créer un compte</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword) }}
    {{ form_row(registrationForm.agreeTerms) }}

    <button type="submit">S'enregistrer</button>
    {{ form_end(registrationForm) }}
{% endblock %}
